html {
    background: #1B1B1B;
}

.text {
    font-size: 40px;
    line-height: 1;
}

svg {
    stroke: #555555;
    stroke-width: 2px;
    width: 200px;
    height: 200px;
    padding: 5px;
    -webkit-filter: drop-shadow(0px 5px 5px #333333) brightness(100%);
    filter: drop-shadow(0px 5px 5px #333333) brightness(100%);
  }

svg:hover {
    -webkit-filter: drop-shadow(2px 0px 2px #333333) brightness(120%);
    filter: drop-shadow(2px 0px 2px #333333) brightness(120%);
}


svg * {
    pointer-events: fill;

}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
}
.wrong {
    fill: #FC7677;
}
.blue {
    fill: #55B8F8;
}

.yellow {
    fill: #333333;
}

.peach {
    fill: #F88355;
}

.purple {
    fill: #912DEC;
}

.container {
    display: none;
    margin: 5px 5px 5px 5px;
}

.shape {
    display: inline-block;
    position: relative;
    pointer-events: none;
}

.innershape-1 {
    position: absolute;
}

.button {
    border-radius: 4px;
    background-color: #00B2E1;
    font-size: 30px;
    }

.circle > .circle {
    transform: scale(0.7, 0.7);
    top: 0;
    left: .1em;
}

.circle > .square {
    transform: scale(0.56, 0.56);
    top: 0;
    left: .1em;
}
.square > .circle {
    transform: scale(0.7, 0.7);
    top: 0;
    left: .1em;
}

.square > .triangle {
    transform: scale(0.56, 0.56);
    top: 0;
    left: .1em;
}
.circle > .triangle {
    transform: scale(0.56, 0.56);
    top: 0;
    left: .1em;
}
.square > .square {
    transform: scale(0.6, 0.6);
    top: 0;
    left: .1em;
}
